*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*estilo del mapa*/
#map {
	height: 90vh;
  width: 100%;
}

.searcher {
	background-color: #FFA013;
	padding: 20px;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#botons{
	margin: 1em;
}
  
/*Estilos de los botones e inputs*/
.btn{
	margin: 0.5em;
	text-align: center;
}

button {
	border: 1px solid white;
	width: 20%;
	padding: 5px;
	background: transparent;
	outline: none;
}

button:hover {
	color: #FFA013;
	transition: background .5s;
	background: white;
}

input {
	background-color: rgba(0,0,0,0);
	width: 20%;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.5);
	outline: none;
}

input::placeholder {
	color: white;
}

input:focus {
	border-bottom: 1px solid white;
}