*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map {
	height: 90vh;
  width: 100%;
}

.searcher {
	background-color: #FFA013;
	padding: 20px;
	color: white;
	text-align: center;
}