*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*estilo del mapa*/
#map {
	height: 90vh;
  width: 100%;
}

.searcher {
	background-color: #FFA013;
	padding: 20px;

/*Estilos seccion botons*/
#botons{
	margin: 1em;
}
  
/*Estilos de los botones e inputs*/
.btn{
	margin: 0.5em;
	text-align: center;
}